<div fxLayout="row" class="div3" fxLayoutAlign="space-between">
  <div class="interfaceUsers"  fxFlex="100">
    <div fxFlex="7" class="listusers">
      <button mat-button class="showAllUsers" routerLink="/app-add-competence">Nouveau</button><br><br><br>
    </div>
    <div fxFlex="50" class="listusers">
      <h1 class="bigTitle">Competences</h1>
      <mat-card class="matcard">
        <mat-card-header>
          <mat-card-title>HTML</mat-card-title>
        </mat-card-header>
        <mat-card-content>Les bases de HTML</mat-card-content>
        <mat-card-actions>
          <button class="show" >Niveau 1</button>
          <button class="show" >Niveau 2</button>
          <button class="show" >Niveau 3</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div fxFlex="50" class="listusers">
      <h1 class="bigTitle">Competence</h1>
      <mat-card class="matcard">
        <mat-card-header>
          <mat-card-title>CSS</mat-card-title>
        </mat-card-header>
        <mat-card-content>Les bases de javascript</mat-card-content>
        <mat-card-actions>
          <button class="show" >Niveau 1</button>
          <button class="show" >Niveau 2</button>
          <button class="show" >Niveau 3</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div fxFlex="50" class="listusers">
      <h1 class="bigTitle">Competence</h1>
      <mat-card class="matcard">
        <mat-card-header>
          <mat-card-title>CSS</mat-card-title>
        </mat-card-header>
        <mat-card-content>Les bases du javascript</mat-card-content>
        <mat-card-actions>
          <button class="show" >Niveau 1</button>
          <button class="show" >Niveau 2</button>
          <button class="show" >Niveau 3</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div fxFlex="50" class="listusers">
      <h1 class="bigTitle">Competence</h1>
      <mat-card class="matcard">
        <mat-card-header>
          <mat-card-title>ANGULAR</mat-card-title>
        </mat-card-header>
        <mat-card-content>Les bases de angular</mat-card-content>
        <mat-card-actions>
          <button class="show" >Niveau 1</button>
          <button class="show" >Niveau 2</button>
          <button class="show" >Niveau 3</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div fxFlex="35" fxHide="{{detailComp}}" class="listusers">
    <div class="infoUser">
      <h2>COMPETENCES</h2><br>
      <button >Niveau 1</button><br><br>
      <button>Niveau 2</button><br><br>
      <button >Niveau 3</button><br><br>
    </div>
  </div>
</div>

