<div fxLayout="row" class="div3" fxLayoutAlign="space-between">
  <div class="interfaceUsers"  fxFlex="100">
    <div fxFlex="7" class="listusers">
      <button mat-button class="showAllUsers" routerLink="/app-add-groupe-de-competence">Nouveau</button><br><br><br>
    </div>
    <div fxFlex="50" class="listusers">
      <h1 class="bigTitle">Groupe De Competences</h1>
      <mat-card class="matcard">
        <mat-card-header>
          <mat-card-title>Reproduire une maquette</mat-card-title>
        </mat-card-header>
        <mat-card-content>Reproduire l'interface d'une maquette déja donné</mat-card-content>
        <mat-card-actions>
          <button class="show" >Competence 1</button>
          <button class="show" >Competence 2</button>
          <button class="show" >Competence 3</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div fxFlex="50" class="listusers">
      <h1 class="bigTitle">Groupe De Competences</h1>
      <mat-card class="matcard">
        <mat-card-header>
          <mat-card-title>Reproduire une maquette</mat-card-title>
        </mat-card-header>
        <mat-card-content>Reproduire l'interface d'une maquette déja donné</mat-card-content>
        <mat-card-actions>
          <button class="show" >Competence 1</button>
          <button class="show" >Competence 2</button>
          <button class="show" >Competence 3</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div fxFlex="50" class="listusers">
      <h1 class="bigTitle">Groupe De Competences</h1>
      <mat-card class="matcard">
        <mat-card-header>
          <mat-card-title>Reproduire une maquette</mat-card-title>
        </mat-card-header>
        <mat-card-content>Reproduire l'interface d'une maquette déja donné</mat-card-content>
        <mat-card-actions>
          <button class="show" >Competence 1</button>
          <button class="show" >Competence 2</button>
          <button class="show" >Competence 3</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div fxFlex="50" class="listusers">
      <h1 class="bigTitle">Groupe De Competences</h1>
      <mat-card class="matcard">
        <mat-card-header>
          <mat-card-title>Reproduire une maquette</mat-card-title>
        </mat-card-header>
        <mat-card-content>Reproduire l'interface d'une maquette déja donné</mat-card-content>
        <mat-card-actions>
          <button class="show" >Competence 1</button>
          <button class="show" >Competence 2</button>
          <button class="show" >Competence 3</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div fxFlex="35" fxHide="{{detailGrp}}" class="listusers">
    <div class="infoUser">
      <h2>COMPETENCES</h2><br>
      <button >Competence 1</button><br><br>
      <button>Competence 2</button><br><br>
      <button >Competence 3</button><br><br>
      <button >Competence 4</button>
      <h2></h2>
    </div>
  </div>
</div>

