<div fxLayout="row" class="div3">
    <div class="interfaceUsers" fxFlex="100">
      <div fxFlex="6" class="listusers">
        <button mat-button class="showAllUsers" routerLink="/user">Nouveau</button>
      </div>
      <div fxFlex="25" class="listusers">
        <div class="infoUser">
          <h1 class="bigTitle">PROFILS</h1>
          <div class="example-container mat-elevation-z8">
            <table mat-table [dataSource]="profils" >
              <!-- Position Column -->
              <ng-container matColumnDef="libelle">
                <th mat-header-cell *matHeaderCellDef><p class="title">Libelle</p></th>
                <td mat-cell *matCellDef="let element"> {{element.libelle}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="Actions">
                <th mat-header-cell *matHeaderCellDef><p class="title">Actions</p></th>
                <td class="td" mat-cell *matCellDef="let element">
                  <button class="show" (click)="this.loadUserProfil(element.id)"><mat-icon>arrow_right_alt</mat-icon></button>
                  <button class="delete" (click)="showOneUsersFunction()"><mat-icon>delete</mat-icon></button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns2; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
            </table>
          </div>
        </div>
      </div>
      <div fxFlex="75" class="listusers">

        <h1 class="bigTitle">LISTE DES UTILISATEURS</h1>
        <div class="example-container mat-elevation-z8">
          <table mat-table [dataSource]="users" >
            <!-- Position Column -->
            <ng-container matColumnDef="prenom">
              <th mat-header-cell *matHeaderCellDef><p class="title">Prenom</p></th>
              <td class="td" mat-cell *matCellDef="let element"> {{element.prenom}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="nom">
              <th mat-header-cell *matHeaderCellDef><p class="title">Nom</p></th>
              <td class="td" mat-cell *matCellDef="let element"> {{element.Nom}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef><p class="title">Email</p></th>
              <td class="td" mat-cell *matCellDef="let element"> {{element.Email}}</td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="show">
              <th mat-header-cell *matHeaderCellDef><p class="title">Actions</p></th>
              <td class="td" mat-cell *matCellDef="let element">
                <button class="show" (click)="showOneUsersFunction()"><mat-icon>arrow_right_alt</mat-icon></button>
                <button class="delete" (click)="showOneUsersFunction()"><mat-icon>delete</mat-icon></button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </div>
    <div fxFlex="45" fxHide="{{showOneUsers}}" class="listusers">
      <div class="infoUser">
        <img class="imgprofil" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <h2 class="h2">Username :  {{userr.username}}</h2>
        <h2 class="h2">Profil :  {{userr.profil}}</h2>
        <h2 class="h2">Telephone :  {{userr.Telephone}}</h2>
        <h2>   <img src="{{userr.avatar}}"></h2>
      </div>
    </div>
      
</div>
</div>
